<div class="grid" [style.min-width.px]="30 + days.length * 180" [style.min-height.px]="gridHeight">
  <div class="grid-header">
    <div class="header-over-labels"></div>
    @for (weekday of days; track weekday) {
      <div class="header-over-content">
        {{ weekday | date:'EEE, LLL d' }}
      </div>
    }
  </div>
  <div class="working-window-wrapper">
    <div
      class="working-window"
      [style.top.px]="workingHoursStartMinutes * pixelsPerMinute"
      [style.height.px]="(workingHoursEndMinutes - workingHoursStartMinutes) * pixelsPerMinute + 1"
      [style.left.%]="hideWeekend ? 0 : workingDaysStart * 100 / 7"
      [style.width.%]="hideWeekend ? 100 : (workingDaysEnd - workingDaysStart + 1) * 100 / 7"
    ></div>
  </div>
  <plaid-grid-background
    [pixelsPerMinute]="pixelsPerMinute"
    [numberOfWeekdays]="days.length || 0"
  ></plaid-grid-background>
  <plaid-current-time-marker
    [pixelsPerMinute]="pixelsPerMinute"
    [dateRange]="dateRange"
  ></plaid-current-time-marker>
  <div class="worklog-panels-area">
    @for (logs of worklogsSplitByDays; track logs; let dayIndex = $index) {
      <div
        class="worklog-panels-area-column"
        [style.height.px]="pixelsPerMinute * 1440"
        >
        @for (worklog of logs; track worklogPanelTrackByFn($index, worklog)) {
          <plaid-worklog-panel
            [worklog]="worklog"
            [pixelsPerMinute]="pixelsPerMinute"
            [currentlyEdited]="worklog.id === editedWorklog?.id"
            (edit)="editedWorklog = worklog"
            (delete)="deleteWorklog(worklog)"
          ></plaid-worklog-panel>
        }
        @for (addHint of addHintsSplitByDays[dayIndex]; track worklogPanelTrackByFn($index, addHint)) {
          <plaid-worklog-panel
            [worklog]="addHint"
            [pixelsPerMinute]="pixelsPerMinute"
            (edit)="editedWorklog = addHint"
          ></plaid-worklog-panel>
        }
      </div>
    }
  </div>
  <div class="grid-footer">
    <div class="footer-under-labels">
      &Sigma;
    </div>
    @for (timeSum of timeSums; track timeSum) {
      <div class="footer-under-content">
        {{ timeSum }}
      </div>
    }
  </div>
  <div class="loading-overlay" [class.visible]="loading">
    <span class="spinner"></span>
  </div>
  <plaid-worklog-editor
    [pixelsPerMinute]="pixelsPerMinute"
    [dateRange]="dateRange"
    [worklog]="editedWorklog"
    [gridElement]="hostElement.nativeElement"
    (cancelEdit)="editedWorklog = null"
    [visibleDaysStart]="visibleDaysStart"
    [visibleDaysEnd]="visibleDaysEnd"
    [keysDisabled]="keysDisabled"
  ></plaid-worklog-editor>
</div>
