<button type="button" class="button both-color-schemes toolbar-icon-button profile-button" title="Account" aria-label="Account" [attr.aria-expanded]="dropdownOpen" aria-controls="account-menu" (click)="dropdownOpen = !dropdownOpen" [class.active]="dropdownOpen">
  @if (currentUserAvatarUrl) {
    <img [src]="currentUserAvatarUrl" alt="">
  }
  @if (!currentUserAvatarUrl) {
    <svg class="icon-user"><use href="assets/icons.svg#user"></use></svg>
  }
</button>
<div id="account-menu" class="dropdown" [attr.aria-hidden]="!dropdownOpen" [class.open]="dropdownOpen">
  @if (user) {
    <p class="headline">Logged in as {{ user.displayName }}</p>
    <button type="button" class="button padded" (click)="changeCredentials.emit(); dropdownOpen = false">Change credentials</button>
    <button type="button" class="button padded" (click)="forgetAccount.emit(); dropdownOpen = false">Forget account</button>
  }
  @if (!user) {
    <p class="headline">Logged out</p>
    <button type="button" class="button padded" (click)="changeCredentials.emit(); dropdownOpen = false">Log in</button>
  }
  <small class="appName" plaidExtHref="https://github.com/piotrmski/plaid">
    Plaid {{ appVersion }}
  </small>
</div>
