<a class="button both-color-schemes toolbar-icon-button profile-button" title="Account" aria-label="Account" (mousedown)="dropdownOpen = !dropdownOpen" [class.active]="dropdownOpen">
  @if (currentUserAvatarUrl) {
    <img [src]="currentUserAvatarUrl">
  }
  @if (!currentUserAvatarUrl) {
    <svg class="icon-user"><use href="assets/icons.svg#user"></use></svg>
  }
</a>
<div class="dropdown" [class.open]="dropdownOpen">
  @if (user) {
    <p class="headline">Logged in as {{ user.displayName }}</p>
    <a class="button padded" (click)="changeCredentials.emit(); dropdownOpen = false">Change credentials</a>
    <a class="button padded" (click)="forgetAccount.emit(); dropdownOpen = false">Forget account</a>
  }
  @if (!user) {
    <p class="headline">Logged out</p>
    <a class="button padded" (click)="changeCredentials.emit(); dropdownOpen = false">Log in</a>
  }
  <small class="appName" plaidExtHref="https://github.com/piotrmski/plaid">
    Plaid {{ appVersion }}
  </small>
</div>
