<ng-container *ngIf="issue">
  <p
    class="parent-name"
    *ngIf="issue.fields.parent"
  >
    <svg class="icon-parent"><use href="assets/icons.svg#parent"></use></svg>
    <b class="issue-key-clickable" (click)="openIssueInJira($event, issue.fields.parent.key)" [title]="'Click to open in Jira'">{{ issue.fields.parent.key }}</b>
    {{ issue.fields.parent.fields.summary }}
  </p>
  <p class="name">
    <b class="issue-key-clickable" (click)="openIssueInJira($event, issue.key)" [title]="'Click to open in Jira'">{{ issue.key }}</b>
    {{ issue.fields.summary }}
  </p>
  <p class="fields">
    <img
      *ngIf="issue.fields.issuetype"
      [src]="issue.fields.issuetype.iconUrl"
      [title]="issue.fields.issuetype.name"
      class="field-icon"
    >
    <img
      *ngIf="issue.fields.priority"
      [src]="issue.fields.priority.iconUrl"
      [title]="issue.fields.priority.name"
      class="field-icon"
    >
    <span class="status" *ngIf="issue.fields.status" [ngClass]="issue.fields.status.statusCategory?.colorName">
      {{ issue.fields.status.name }}
    </span>
    {{ getComponents() }}
  </p>
</ng-container>


