<div class="user-picker issue-picker" [class.open]="open">
  <input
    class="search"
    #searchInput
    placeholder="Search users..."
    (input)="inputSearch(searchInput.value);"
    [tabIndex]="open ? 0 : -1"
    >
  @if (searching) {
    <span class="spinner"></span>
  }

  <div class="scrollable-area always-show">
    <button
      class="clear-selection user-item"
      (click)="clearSelection()"
      >
      <div class="avatar">
        <span class="clear-icon">✖️</span>
      </div>
      <div class="user-info">
        <div class="display-name">Clear selection (show my tasks)</div>
      </div>
    </button>
    @for (user of searchResults; track user) {
      <button
        class="user-item"
        (click)="userSelected(user)"
        >
        <div class="avatar">
          @if (hasAvatar(user)) {
            <img
              [src]="getAvatarUrl(user)"
              [alt]="user.displayName || user.name"
              >
          }
          @if (!hasAvatar(user)) {
            <span class="no-avatar">
              👤
            </span>
          }
        </div>
        <div class="user-info">
          <div class="display-name">{{ user.displayName || user.name }}</div>
          @if (user.emailAddress) {
            <div class="email">{{ user.emailAddress }}</div>
          }
        </div>
      </button>
    }
  </div>


</div>
