<button type="button" class="button both-color-schemes" (click)="decrementWeek()" [class.active]="decrementWeekButtonActive" title="Previous week (F4)" aria-label="Previous week">
  <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
</button>
<button type="button" class="button both-color-schemes toggle-button" [class.active]="calendarOpen" (click)="calendarOpen = !calendarOpen" title="Select week" aria-label="Select week" [attr.aria-expanded]="calendarOpen" aria-controls="week-calendar">
  {{ buttonText }}
</button>
<button type="button" class="button both-color-schemes" (click)="incrementWeek()" [class.active]="incrementWeekButtonActive" title="Next week (F6)" aria-label="Next week">
  <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
</button>
<div id="week-calendar" class="calendar" [attr.aria-hidden]="!calendarOpen" [class.open]="calendarOpen">
  <div class="month-changer">
    <button type="button" class="button" (click)="decrementMonth()" title="Previous month" aria-label="Previous month">
      <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
    </button>
    <div class="month-label">
      {{ months[month?.getMonth()] }} {{ month?.getFullYear() }}
    </div>
    <button type="button" class="button" (click)="incrementMonth()" title="Next month" aria-label="Next month">
      <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
    </button>
  </div>
  <div class="weekdays">
    @for (weekday of weekdays; track weekday) {
      <div class="weekday">
        {{ weekday }}
      </div>
    }
  </div>
  @for (week of days; track week) {
    <div
      class="week"
      [class.selected]="selectedDateRange.start.valueOf() === week[this.visibleDaysStart].valueOf() && selectedDateRange.end.valueOf() === week[this.visibleDaysEnd].valueOf()"
      (click)="selectDateRange({ start: week[this.visibleDaysStart], end: week[this.visibleDaysEnd] })"
      (keydown.enter)="selectDateRange({ start: week[this.visibleDaysStart], end: week[this.visibleDaysEnd] })"
      (keydown.space)="selectDateRange({ start: week[this.visibleDaysStart], end: week[this.visibleDaysEnd] }); $event.preventDefault()"
      role="button"
      tabindex="0"
      >
      @for (day of week; track day) {
        <div
          class="day"
          [class.other-month]="day.getMonth() !== month.getMonth()"
          [class.today]="day.getTime() === today.getTime()"
          >
          {{ day.getDate() }}
        </div>
      }
    </div>
  }
</div>
