<a class="button both-color-schemes" (click)="decrementWeek()" [class.active]="decrementWeekButtonActive" title="Previous week (F4)">
  <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
</a>
<a class="button both-color-schemes toggle-button" [class.active]="calendarOpen" (mousedown)="calendarOpen = !calendarOpen" title="Select week">
  {{ buttonText }}
</a>
<a class="button both-color-schemes" (click)="incrementWeek()" [class.active]="incrementWeekButtonActive" title="Next week (F6)">
  <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
</a>
<div class="calendar" [class.open]="calendarOpen">
  <div class="month-changer">
    <a class="button" (click)="decrementMonth()" title="Previous month">
      <svg class="icon"><use href="assets/icons.svg#arrow-left"></use></svg>
    </a>
    <div class="month-label">
      {{ months[month?.getMonth()] }} {{ month?.getFullYear() }}
    </div>
    <a class="button" (click)="incrementMonth()" title="Next month">
      <svg class="icon"><use href="assets/icons.svg#arrow-right"></use></svg>
    </a>
  </div>
  <div class="weekdays">
    @for (weekday of weekdays; track weekday) {
      <div class="weekday">
        {{ weekday }}
      </div>
    }
  </div>
  @for (week of days; track week) {
    <div
      class="week"
      [class.selected]="selectedDateRange.start.valueOf() === week[this.visibleDaysStart].valueOf() && selectedDateRange.end.valueOf() === week[this.visibleDaysEnd].valueOf()"
      (click)="selectDateRange({ start: week[this.visibleDaysStart], end: week[this.visibleDaysEnd] })"
      >
      @for (day of week; track day) {
        <div
          class="day"
          [class.other-month]="day.getMonth() !== month.getMonth()"
          [class.today]="day.getTime() === today.getTime()"
          >
          {{ day.getDate() }}
        </div>
      }
    </div>
  }
</div>
